

body {

        background-color:  #EAEAEA;
        color: ##474747;
        font-family: 'Roboto', sans-serif;

      }

img {
        display: flex;
        padding: 20px;
        float: right;
}


h1, h2 {
        text-align: right;
        padding-right: 50px;
        font-weight: 400;

}

h3.thick {
        font-weight: 400;
}
