

body {

        background-color:  #EAEAEA;
        color: ##474747;
        font-family: 'Roboto', sans-serif;

      }

img {
        display: flex;
        padding: 20px;
}

h1, h2 {
        text-align: right;
}
